.jumbotron{
    margin-bottom: 20px;
}

.form-group{
    width: 50%;
    margin-left: 25%;
}

.dec{
    width: 12.5%;
    margin: 20px 12.5%;
}

button{
    word-break: break-all;
}

button:hover{
    font-size: initial !important;
}

form{
    text-align: center;
}

.worldchoose{
    width: 60%;
    font-size: 17px;
    padding: 15px;
    margin: 20px 0;
}