#back-button{
    vertical-align: middle;
    text-align: left;
    width: 20%;
    padding: 10px 10px;
    background-color:rgb(197, 195, 195);
    border: 1px solid black;
    color: black;
    font-size: 20px;
    transition: all 0.2s;
}

.jumbotron p{
    width: 80%;
    padding: 0 10% 0 30%;
    text-align: center;
}

#back-button:hover{
    background-color:rgb(168, 167, 167);
}

@media only screen and (max-width: 900px) {
    #back-button{
        font-size: 13px;
    }
}


@media only screen and (max-width: 750px) {
    span{
        display: none;
    }
}
